<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="container">
        <h2>{{ msg }}</h2>
        <div class="loading" v-if="loading">
            Loading...
        </div>
        <div class="wrapper" id="box" v-if="loaded">
            <div class="box a" style="background-color: #3498db; color: #ecf0f1;">
                <div class="center">
                    <input v-model="game.player1.name"/>
                    <button v-on:click="setPlayerName(1, game.player1.name)">&#9998;</button>
                    <img src="player12.png" alt="">
                    <br>
                    <span v-if="game.player1.field != 0">
                        Gold: {{game.player1.money}} <br>
                        Field: {{game.player1.field}}<br>
                    </span>
                    <button v-if="game.turn == 1" v-on:click="playRound()">&#127922;</button>
                </div>
            </div>

            <div class="box b">
                <div v-if="game.started">
                    <p v-for="line in this.game.moves.slice().reverse()">
                        {{ game.turn == 1 ? game.player1.name : game.player2.name}}
                        {{ line }}
                    </p>
                </div>
                <div v-if="!game.started" id="start">
                    <button v-on:click="startGame()">START</button>
                </div>
            </div>

            <div class="box c" style="background-color: #1abc9c; color: #ecf0f1;">
                <div class="center">
                    <input v-model="game.player2.name"/>
                    <button v-on:click="setPlayerName(2, game.player2.name)">&#9998;</button>
                    <img src="player22.png" alt="">
                    <br>
                    <span v-if="game.player2.field != 0">
                        Gold: {{game.player2.money}} <br>
                        Field: {{game.player2.field}}<br>
                    </span>
                    <button v-if="game.turn == 2" v-on:click="playRound()">&#127922;</buttonv-if>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>
